.preloaded-images{
  width: 0;
  height: 0;
  overflow: hidden;
}

.fighter{
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  overflow: visible;
  &-name {
    position: absolute;
    top: -20px;
    color: white;
    width: 0;
    height: 0;
    overflow: visible;

  }
  &__image {
    position: absolute;
    visibility: hidden;
    &--is-showing{      
      visibility: visible;
    }
    &--facing-left{      
      transform: scalex(-1)

    }
  }
}