/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand|Permanent+Marker');

html, body{
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Patrick Hand';
  background: #111;
  overflow: hidden;
  color: white;

}


button{
  font-family: 'Patrick Hand';
}


